#games #cage { position:relative; border: 5px solid black; height: 300px; width: 400px; margin: 2em auto}
#games #cage #snake{ position:absolute; top: 10px; left: 40px; background: black; height: 5px; width: 5px;}
