#games #score { width: 400px; margin: 1em auto 0 auto; text-align: right; font-family: "Courier New" Courier monopace;}
#games #cage { position:relative; border: 5px solid black; height: 300px; width: 400px; margin: 0 auto}
#games #cage #snake{ position:absolute; top: 10px; left: 40px; background: black; height: 5px; width: 5px;}
