#games.playing { background: blue }
#games.yellow_win { background: yellow }
#games.red_win { background: red }
#games #container { width: 400px; margin: 1em auto }
#games #container ul { float: left; font-size: 7em; line-height: 0.2em; margin: 0 0 0 0.2em }
#games #container ul:hover li { color: lightgray }
#games #container ul li { color: white; line-height: 0.4em }
#games #container ul li.yellow { color: yellow }
#games #container ul li.red { color: red }
