#field { 
  position: relative;
  margin: 50px auto;
  height: 400px;
  width: 600px;
  border: 1px solid #ccc;
  border-width: 4px 4px 0px 4px
}

#field .paddle {
  position: absolute;
  background: black;
  bottom: 0px;
  height: 5px;
  left: 10px;
  width: 80px;
}

#field .brick {
  background: green;
  width: 46px;
  height: 15px;
  float: left;
}

#ball {
  top: 200px;
  left: 90px;
  position: absolute;
  width: 5px;
  height: 5px;
  background: black;
}

